.adminArea{
	    color: #801515;	  
	    font-size: 14px;
	    line-height: normal;  
	    min-height: 500px;
}

#viewHomeBtn{
	    position: fixed;
    top: 100px;
    font-size: larger;
    margin: 0;
    padding: 0;
    min-width: 45px;
}

.adminArea p{
}