.reviewPost p{
	line-height: normal;
}

.reviewTitle{
	display: block;
    clear: both;
    font-size: larger;
    margin-bottom: 0px;
}

.new-review{
    font-size: 14px;
}

.new-review textarea{
	line-height: normal;
}

 #addReviewSection, #landingPageDesc{
    padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 15px;
    position: relative;
  }
  #landingPageDesc p{
    font-size: 18px;
    line-height: normal;
    display: inline-block;
    margin: 0;
    margin-left: 90px;
  }
  #landingPageDesc i{
    display: inline-block;
    position: absolute;
    font-size: 60px;
    top: 30px;
  }
  #addReviewSection p{
    display: inline;
    font-size: 18px;
    margin-left: 30px;
    position: absolute;
    top: 15px;
    line-height: normal;
  }
  #addReviewBtn{
         border-bottom: 5px solid #540909;
    min-width: 200px;
    font-size: 18px;
    min-height: 45px;
  }
  #addReviewBtn:hover{
     background-color: #801515;
     color: #fff;
    padding-top: 7px;
        min-width: 200px;
    border-bottom: 3px solid #540909;
  }
  #close-btn, #reviewCloseBtn{
    min-width: 40px;
    position: absolute;
    right: 20px;
    margin-top: 0;
  }

#expandedReviewArea{
	padding: 20px;
    background-color: whitesmoke;
    margin-bottom: 15px;
    position: relative;
}
#expandedReviewArea p{
	font-size: 14px;
	line-height: normal;
}
#expandedReviewArea #expandedReview-close-btn{
	    min-width: 32px;
    top: 10px;
    margin: 0;
    right: 10px;
    font-size: 18px;
    min-height: 20px;
    padding: 0;
        position: absolute;
}
#expandedReviewArea .reviewTitle{
	font-size: 24px;
	    margin-bottom: 5px; 
}